@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1470px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: url(../image/man-in-black-suit.png);
    background-repeat: no-repeat;
    background-position: top;
    font-family: "Poppins", serif;
    opacity: 0;

    animation-name: body-animation;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes body-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* --------------------------------------------------------HEADER------------------------------------------------- */



ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.logo {
    font-size: 30px;
}

.container {
    max-width: 1470px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    height: 80px;
    background-color: #232536;
    color: #fff;
    text-align: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-navigation {
    display: flex;
    align-items: center;   
}

.header-navigation ul {
    display: flex;
    gap: 35px;
}

.header-navigation ul li {
    display: flex;
    align-items: center;
}

.header-navigation ul li a {
    color: #fff;
    transition: .3s linear;
}

.header-navigation ul li a:hover {
    text-decoration: underline;
}

.header-navigation .header-btn {
    max-width: 350px;
    height: 50px;
    color: #232536;
    font-size: 18px;
    margin-right: 70px;

    transition: .2s linear;
}

.header-navigation .header-btn:hover {
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}


.burger-menu {
    display: none;
    position: relative;
}

.burger-menu button {
    width: 40px;
    font-size: 25px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.burger-menu input {
    position: absolute;
    right: 0 !important;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}

.burger {
    display: none;
    position: absolute;
    background-color: #35384e;
    border-radius: 20px;
    padding: 0;
    color: #fff;
    left: -68px;
    top: 33px;
    height: 0;
    width: 100px;
    overflow: hidden;
    transition: .5s;
}

.burger ul li a {
    color: #fff;
}
.burger ul li + li  {
    margin-top: 10px;
}

.burger-menu input:checked ~ .burger {
    display: block;
    height: 150px;
}
 

/* --------------------------------------HOME PAGE---------------------------------------------------------- */





/* .homepage-container .homepage-img {
    height: 700px;
    max-width: 1440px;
    margin: 0 auto;
} */

.text-overlay {
    color: #fff;
    margin-left: 50px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posted {
    font-size: 20px;
}

.title {
    max-width: 600px;
    font-size: 35px;
}

.james {
    color: #FFD050;
}

.homepage-discription {
    max-width: 599px;
}

.text-overlay .homepage-btn {
    width: 205px;
    height: 56px;
    background-color: #FFD050;
    border: none;
    transition: .2s linear;
}

.text-overlay .homepage-btn:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}


/* ---------------------------------------------------POSTS-------------------------------------------------------------- */

.posts {
    display: flex;
    justify-content: center;
}

.posts-container {
    max-width: 1282px;
    height: 100%;
    padding: 0 5px;
    margin-top: 350px;
    /* margin: 0px auto; */
}

.posts-btn {
    margin-top: 50px;
    max-width: 204px;
    height: 50px;
    color: black;
    background-color: #FFD050;
    border: none;
    transition: .2s linear;
}

.posts-btn:hover {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.posts-cards {
    display: flex;
}

.posts-card {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    flex-direction: column;
    max-width: 733px;
    height: 900px;
    border: 1px solid rgba(128, 128, 128, 0.644);
    padding: 50px;
}

.posts-title {
    margin-bottom: px;
    font-size: 25px;
    max-width: 30px;
}

.featured-posts {
    text-align: left;
    padding-left: 10px;
}

.posts-description {
    max-width: 551px;
    height: 56px;
    margin: 20px 0;
}

.building:nth-child(1) {
    width: 100%;
}

.posts-description-tite {
    margin-bottom: 75px;
    max-width: 600px;
    height: 40px;
}

/* -------------------------------------------------------POPULAR POSTS------------------------------------------------- */

.pop-title {
    font-size: 25px;
    margin-bottom: 138px;
    text-align: center;
}

.pop-posts-card {
    display: flex;
    flex-direction: column;
    max-width: 517px;
    height: 900px;
}

.pop-post-name .deo {
    color: purple;
}


.pop-posts-yellow {
    border: 1px solid grey;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    max-width: 550px;
    height: 181px;
    gap: 30px;
}

.pop-posts-yellow .free-yellow {
    max-width: 369.18px;
    height: 96px;
}


/* --------------------------------------------------------ABOUT MISION----------------------------------------------------------------------------- */

.about-us {
    margin-top: 100px;
}

.lines {
    margin: 0 auto;
    max-width: 1050px;
    background-color: #FFD050;
    height: 23px;
}

.about-mision-cards {
    margin: 0 auto;
    max-width: 1200px;
    height: 400px;
    background-color: #F4F0F8;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.about-us-box {
    padding: 0 20px;
}


.about-us-title {
    max-width: 600px;
    height: 110px;
}

.about-us-description {
    max-width: 400px;
}


.our-mision-box {
    padding: 0 20px;
}

.our-mision-title {
    max-width: 481px;
    height: 100px;
}

.our-mision-description {
    max-width: 516px;
}

/* -------------------------------------------------------------CATEGORY------------------------------------------------------------------ */

.category {
    margin-top: 100px;
    padding: 0 10px;
}

.category-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #232536;
}

.category-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
    justify-content: space-around;
}

.category-card {
    padding: 23px 15px;
    max-width: 250px;
    border: 1px solid #6D6E76;
    height: 200px;
}

.category-card img {
    background-color: lightyellow;
}

.category-card-yellow {
    background-color: #FFD050;
    padding: 30px 15px;
    max-width: 251px;
    height: 200px;
}

.category-card-yellow img {
    background-color: lightyellow;
    width: 30px;
    height: 30px;
}

/* ------------------------------------------------------------AUTHORS---------------------------------------------------------------------- */


.authors {
    margin-top: 100px;
    padding: 0 25px;
}

.authors-inner .authors-title {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.authors-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.authors-card {
    width: 296px;
    height: 324px;
    background-image: linear-gradient(rgb(163, 151, 151), rgb(103, 101, 101));
    padding: 23px 15px;
}

.authors-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.authors-card-dianne {
    width: 296px;
    height: 324px;
    background-image: linear-gradient(lightyellow, rgb(227, 227, 148));
    padding: 23px 15px;
}

.authors-category-dianne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.authors-card-jenny {
    width: 296px;
    height: 324px;
    background-image: linear-gradient(orange, rgb(225, 176, 83));
    padding: 23px 15px; 
}

.authors-category-jenny {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.authors-card-leslie {
    width: 296px;
    height: 324px;
    background-image: linear-gradient(yellow, rgb(111, 111, 61));
    padding: 23px 15px;
}


.authors-category-leslie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* ----------------------------------------------------------------BRANDS--------------------------------------------- */


.brands {
    padding: 0 25px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* -------------------------------------------------------------------TESTIMONIALS-------------------------------------- */


/* .container {
    max-width: 1470px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
} */

.feedback-cards {
    background-color: rgb(255, 255, 231);
    max-width: 1280px;
    height: 464px;
    padding: 70px 100px;
    gap: 100px;
    display: flex;
    justify-content: space-between;
}

.feedback-card {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    border-left: 2px solid lightgrey;
    gap: 150px;
}

.feedback-testimonials {
    margin-top: 50px;
    max-width: 349px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.h1-lorem {
    max-width: 469px;
    height: 128px;
}


/* -------------------------------------------------------------JOIN NOW----------------------------------------------------------- */


.join {
    max-width: 414px;
    height: 256px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.join h2 {
    color: #031c32;
    max-width: 330px;
}

.join p {
    color: #6D6E76;
}

.join button {
    background-color: #FFD050;
    border: none;
    color: #031c32;
    width: 174px;
    height: 56px;

    transition: .2s linear;
}

.join button:hover {
    background-color: transparent;
    border: 2px solid #031c32;
}

/* -----------------------------------------------FOOTER------------------------------- */


.footer {
    background-color: #232536;
    color: #fff;
    max-width: 100%;
    height: 560px;
    margin: 0 auto;
    padding: 50px;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
}

.footer-navigation-list {
    display: flex;  
    gap: 20px;
} 

.footer-navigation-list  li a {
    color: white;
}

.footer-navigation-list {
    list-style: none;
}

.footer-subscribe {
    background-color: #2d2f3f;
    max-width: 1280px;
    min-height: 256px;
    padding: 60px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-subscribe-text h2 {
    max-width: 562px;
    font-size: 32px;
}

.footer-subscribe-btn  {
    display: flex;
}

.footer-subscribe-btn button {
    background-color: #FFD050;
    color: #031c32;
    width: 170px;
    height: 56px;
    border: none;
    font-weight: bold;
    margin-left: 20px;

    transition: .1s linear;
}

.footer-subscribe-btn button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.footer-subscribe-btn input {
    background-color: transparent;
    color: white;
    padding: 0 3px;
    max-width: 300px;
    height: 56px;
    border: 1px solid grey;
}

.footer-navigation-2 {
    display: flex;
    justify-content: space-between;
}

.footer-navigation-list-2 {
    display: flex;  
    gap: 20px;
} 

.footer-navigation-list-2  li a {
    color: white;
}

.footer-navigation-list-2 {
    list-style: none;
}


/* --------------------------------------------------------MEDIA----------------------------------------------------------------------------- */


@media (max-width: 1016px) {

    .posts-cards {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 384px) {

    .posts-btn {
        margin-top: 75px;
    }

}
@media (max-width: 330px) {

    .posts-btn {
        margin-top: 100px;
    }

}

@media (max-width: 768px) {

    .header-navigation {
        display: none;
    }

}

@media (max-width: 327px) {

    .posts-description-tite {

        margin-bottom: 100px;

    }

}

@media (max-width: 768px) {

    .header-navigation .navigation-list {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .burger {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

@media (max-width: 762px) {

    .about-mision-cards {
    height: 500px;
    }

    .about-mision-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media (max-width: 332px) {

    .about-mision-cards {
        height: 530px;
    }    

}

@media (max-width: 634px) {

    .category-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media (max-width: 320px) {

    .brands {
        padding: 0 25px;
        margin: 100px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        flex-wrap: wrap;
    }

}

@media (max-width: 845px) {

    .feedback-card {
        gap: 200px;
    }

}

@media (max-width: 773px) {

    .feedback-cards {

        height: 900px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0;

    }

    .feedback-card {
        border: none;
    }

}

@media (max-width: 360px) {

    .text-overlay {
        margin-top: 0;
    }

}

@media (max-width: 757px) {

    .footer-subscribe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

@media (max-width: 697px) {

    .none-mob {
        display: none;
    }

    .footer-privacy {
        margin-left: 20px;
    }

}

@media (max-width: 530px) {

    .footer-subscribe-btn {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        height: 700px;
    }

}

@media (max-width: 489px) {

    .footer {
        height: 900px;
    }

}

@media (max-width: 340px) {

    .footer-subscribe {
        padding: 0 100px;
    }

}

@media (max-width: 467px) {

    .footer-navigation-2 {
        display: flex;
        flex-direction: column;

    }

}